// Global

$first-font: 'Dancing Script', cursive;

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

/* Navigation */

nav {
  text-decoration: none;
  background: none;
  position: relative;
  z-index: 1;
}

nav {
  a.menu {
    text-decoration: none;
    text-align: center;
    color: lightgray;
    padding-top: 2vw;
    font-size: 1.5vw;
  }
}

nav {
  a.brand {
    color: gold;
    font-family: $first-font;
    text-align: center;
    padding-top: 2vw;
    font-size: 2vw;
  }
}

/* header */

header {
  z-index: 0;
  position: absolute;
  top: 0px;
  background-image: url(../images/3.jpg);
  height: 50vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  div {
    position: absolute;
    top: 30%;
    left: 20%;
    text-align: center;
    justify-content: center;
  }
}

header {
  div .text1 {
    font-style: italic;
    font-size: 3vw;
    color: white;

  }
}


header {
  div .text2 {
    font-size: 5vw;
    color: white;
  }
}

/* Button */

header {
  div .button {
    border-radius: 5%;
    border-color: gold;
    background: gold;
    color: white;
    padding: 2vw 5vw;
    font-size: 1vw;
    font-weight: bold;
    cursor: pointer;
  }
}

/* Section below header */

section {
  position: absolute;
  top: 55vw;
  height: 80%;
}

section {
  .services {
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 1.8vw;
  }
}

section {
  div {
    h2 {
      font-size: 3vw;
    }
  }
}

section{
  div{
    h3{
      font-size: 1.2vw;
    }
  }
}

section {
  div {
    p {
      font-style: italic;
      font-size: 1vw;
    }
  }
}

section{
  h3{
    p{
      color: gray;
      opacity: 0.6;
    }
  }
}

section {
  div {
    i {
      color: gold;
      font-size: 3vw;
      border: 5px solid gold;
      border-radius: 50%;
      padding: 1vw;
      margin-top: 4vw;
    }
  }
}

/* Article below Section */

article {
  position: absolute;
  top: 91vw;
  height: 70vw;
  background: lightgray;
  text-align: center;
}

article {
  div {
    h4 {
      font-size: 3vw;
      font-weight: bolder;
      margin: 5vw 0 0 0;
    }
  }
}

article {
  div {
    p {
      font-size: 1.5vw;
      font-style: italic;
    }
  }
}

/* Cards */

.cards {
  position: absolute;
  justify-content: center;
  top: 110vw;
  left: 0;
  margin: 0 auto;
  padding: 0 12vw 8vw 12vw;
}


.cards {
  div {
    max-width: 20vw;
    max-height: 25vw;
    background: white;
    margin: 0.5vw;
    padding: 0;
  }
}


.cards {
  img {
    width: 100%;
    height: 20vw;
  }
}

.cards {

  h5,
  p {
    padding: 0;
    margin: 0 auto;
  }
}


.cards {
  h5 {
    font-size: 1.5vw;
    font-weight: bold;
  }
}


/* Footer */

footer {
  position: absolute;
  top: 182vw;
  left: 0;
}

footer {
  div {
    p {
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 1.5vw;
      font-weight: bold;
      margin: 0 auto;
      padding: 0 0 2vw 0;
    }
  }
}

footer{
  div{
    i{
      text-align: start;
      font-size: 3vw;
      padding: 0 1vw 2vw 0;
    }
  }
}
